/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== COMMENTS ===============*/
/* text-gradient: linear-gradient(
    hsl(var(--hue-color), 4%, 24%),
    hsl(var(--hue-color), 4%, 8%)
  );
*/

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(206, 4%, 6%);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== LAYOUT ===============*/

/*=============== HEADER ===============*/

/*=============== NAV ===============*/

/* show menu */

/* Change background header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTONS ===============*/

/*=============== SPONSOR ===============*/

/*=============== SPECS ===============*/

/*=============== CASE ===============*/

/*=============== DISCOUNT ===============*/

/*=============== PRODUCTS ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== SCROLL BAR ===============*/

/*=============== MEDIA QUERIES ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
